language: python
python:
  - 2.7
jdk:
  - oraclejdk8

install:
  ### Java: We download now some dependencies to limit the number of messages later
  - if $JAVA; then mvn dependency:resolve-plugins dependency:resolve -B -V ; fi
  ### Python build dependencies
  - if [ -n "$TOXENV" ]; then pip install tox coveralls; fi
script:
  ### Java
  - if $JAVA; then mvn verify -B -V ; fi
  ### Python
  - if [ -n "$TOXENV" ]; then tox; fi
after_success:
  ### Python
  - if [ -n "$TOXENV" ]; then coveralls; fi

### sudo is required by pip
sudo: required

### As of 2016-11, when Sudo is required, java8 is removed (WHY?)
dist: trusty
addons:
  apt:
    packages:
      - oracle-java8-installer

env:
  global:
    - JAVA=false # Default
    ### As of 2016-04 Travis provides Cassandra 2.1 by default so we bundle our own
    - CASSANDRA_VERSION=3.9
    - CASSANDRA_HOME="${TRAVIS_BUILD_DIR}/apache-cassandra-${CASSANDRA_VERSION}/"
  matrix:
    - JAVA=true
    - TOXENV=pylama
    - TOXENV=pypy-coverage
    - TOXENV=py27-coverage
    - TOXENV=bench

### As of 2016-04 Travis provides Cassandra 2.1 by default so we bundle our own
before_install:
   - wget "http://www.us.apache.org/dist/cassandra/${CASSANDRA_VERSION}/apache-cassandra-${CASSANDRA_VERSION}-bin.tar.gz"
   - tar -xzf "apache-cassandra-${CASSANDRA_VERSION}-bin.tar.gz"
