language: python
### Trusty uses java8 default jdk11 in xenial seems to interfere with cassandra booting
dist: trusty
matrix:
  include:
    - python: '2.7'
      env: TOXENV=py27-coverage
    - python: '3.6'
      env: TOXENV=py36-coverage
    - python: 'pypy'
      env: TOXENV=pypy-coverage
    - python: 'pypy'
      env: TOXENV=pylama
    - language: java
      jdk: openjdk8
      env: JAVA=true

env:
  global:
    - JAVA=false # Default
    - CASS_DRIVER_NO_CYTHON=1 # Speed-up builds.
    - CASSANDRA_VERSION=3.11.3
    - CASSANDRA_STRATIO_LUCENE_VERSION=${CASSANDRA_VERSION}.0
    - CASSANDRA_HOME="${TRAVIS_BUILD_DIR}/.deps/apache-cassandra-${CASSANDRA_VERSION}/"
    - ES_VERSION=6.3.1
    - ES_HOME="${TRAVIS_BUILD_DIR}/.deps/elasticsearch-${ES_VERSION}/"

install:
  ### Java: We download now some dependencies to limit the number of messages later
  - if $JAVA; then mvn dependency:resolve-plugins dependency:resolve -B -V ; fi
  ### Python build dependencies
  - if [ -n "$TOXENV" ]; then pip install tox coveralls; fi
script:
  ### Java
  - if $JAVA; then mvn verify -B -V ; fi
  ### Python
  - if [ -n "$TOXENV" ]; then tox; fi
after_success:
  ### Python
  - if [ -n "$TOXENV" ]; then coveralls; fi

### sudo is required by pip
sudo: required

before_install:
   - ./tools/install-deps.sh
