# Commande line
humanize
ipython<6
parsedatetime
progressbar2
scandir

# Memory driver
sortedcontainers

# Cassandra driver
cassandra-driver
scales

# Core
enum34
cachetools
prometheus_client

# Metadata cache
lmdb

# Graphite
whisper
git+https://github.com/graphite-project/carbon.git@1.0.x#egg=carbon
git+https://github.com/graphite-project/graphite-web.git@1.0.x#egg=graphite-web
