# Testing
freezegun
mock
pygal<2.2
pygaljs
pytest
pytest-benchmark
unittest2

# Cassandra
testing.cassandra3

# For bg-replay-traffic
dpkt

# Graphite and dependencies.
graphite-web
django-tagging
pytz
carbon
twisted
zope.interface
whisper

# We could use Django<2.0 but we match what graphire requires instead.
Django>=1.8,<1.11.99
