# Testing
freezegun
mock
pygal<2.2
pygaljs
pytest
pytest-benchmark
unittest2
tox

# Linting
pylama

# Cassandra
testing.cassandra3

# Elasticsearch
testing.elasticsearch6

# For bg-replay-traffic
dpkt

# Graphite and dependencies.
graphite-web
pytz
carbon
whisper

# We could use Django<2.0 but we match what graphite requires instead.
Django>=1.8,<1.11.99

# Tracing
opencensus==0.5.0

# Optional dependency for bgutil web
gourde==0.2.1
flask-restplus
