{# Extend gourde/_base.html to have some default goodies. #}
{% extends "gourde/_base.html" %}

{# Set the application name #}
{% block brand %}<a class="navbar-brand" href="/">BigGraphite</a>{% endblock %}

{# Add links to the navbar #}
{% block navbar_left %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="/maintenance"><i class="fa fa-broom"></i> Maintenance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/workers"><i class="fa fa-cogs"></i> Workers</a>
    </li>
{% endblock %}

{%  block navbar_right %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="/api"><i class="fa fa-sitemap"></i> API</a>
    </li>
{%  endblock %}